
section {
    width: 30em;
    margin: auto;
}
section h1 {
    border: 5px black solid;
    text-align: center;
    font-size: 2em;
    padding: 1.2em;
}

section h1:nth-of-type(1n) {
    background-color: #2a9d8f;
}

section h1:nth-of-type(2n) {
    background-color: #e9c46a;
}

section h1:nth-of-type(3n) {
    background-color: #f4a261;
}

section h1:nth-of-type(4n) {
    background-color: #e76f51;
}

section h1:nth-of-type(1) {
    /* transform-origin: ; - set the origin for transform*/
    transform: rotate(45deg);
}

section h1:nth-of-type(2) {
    transform: scale(.5);
    /* width, height */
}

section h1:nth-of-type(3) {
    /* x, y */
    transform: translate(2em, 2em);
}

section h1:nth-of-type(4) {
    /* x, y */
    transform: skew(35deg);
}

section h1:nth-of-type(5) {
    /* Multiple */
    transform: rotate(45deg) translate(2em, -10em);
}