body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
section {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
}

#start div {
    width: 200px;
    height: 200px;
}
