* {
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    border: 2px solid black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    background-color: #26465354;
    width: 100%;
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
}

header {
    width: 100%;
    min-width: 350px;
    max-height: 100px;
    background-color: #2a9d8f;
    flex: .75;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    width: 100%;
    min-width: 350px;
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: row;
}

section .left{
    min-width: 200px;
    height: 100%;
    background-color: #f4a261;
    flex: 1;
    display: flex;
    justify-content: center;
}

section .main{
    min-width: 350px;
    height: 100%;
    background-color: #e76f51;
    flex: 5;
    display: flex;
    flex-wrap: wrap;
}

section .right{
    min-width: 200px;
    height: 100%;
    background-color: #f4a261;
    flex: 1;
    display: flex;
}

footer {
    width: 100%;
    min-width: 350px;
    max-height: 100px;
    background-color: #2a9d8f;
    flex: 1;
    display: flex;
}

@media (max-width: 1024px) {
    section .left, section .right {
        display: none;
    }
}