* {
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("pawel-czerwinski-aelD0Zrmsy0-unsplash\ \(1\).jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
}

.panel {
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(7px);
    box-shadow: 15px 15px 20px rgba(44, 44, 44, 0.4);
    width: 100%;
    height: 100%;
}