body {
    font-family: 'Montserrat', sans-serif;
}
#background {
    width: 80%;
    height: 800px;
    padding: 2em;
    background-color: antiquewhite;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1502252430442-aac78f397426?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
}

#background h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}

#googleFont {
    color: white;
    text-align: center;
    line-height: 1.5em;
}