body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

button {
    font-size: 2em;
    border: 5px orange solid;
    color: orange;
    background: none;
    padding: 1em 2em;
    transition: border .5s, color .5s, transform .5s, box-shadow .5s;
}

button:hover {
    border-color: yellow;
    color: yellow;
    transform: translateY(-.50em);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0em 0.5em 0.5em -0.4em yellow;
    transition-timing-function: ease;
    cursor: pointer;
}